In [1]:
import pandas as pd
import numpy as np

In [4]:
df = pd.DataFrame([[1,np.nan,2],[2,3,5],[np.nan,4,6]])
print(df)

     0    1  2
0  1.0  NaN  2
1  2.0  3.0  5
2  NaN  4.0  6

In [5]:
print(df.isnull())

       0      1      2
0  False   True  False
1  False  False  False
2   True  False  False

In [6]:
print(df.dropna())

     0    1  2
1  2.0  3.0  5

In [8]:
print(df.dropna(axis=1))

   2
0  2
1  5
2  6

In [11]:
print(df.dropna(axis=1,how='all'))

     0    1  2
0  1.0  NaN  2
1  2.0  3.0  5
2  NaN  4.0  6

In [12]:
print(df.dropna(thresh=2))

     0    1  2
0  1.0  NaN  2
1  2.0  3.0  5
2  NaN  4.0  6

###filling NA's

In [13]:
print(df.fillna(0))

     0    1  2
0  1.0  0.0  2
1  2.0  3.0  5
2  0.0  4.0  6

In [14]:
print(df.fillna(method="ffill"))

     0    1  2
0  1.0  NaN  2
1  2.0  3.0  5
2  2.0  4.0  6

C:\Users\onvac\AppData\Local\Temp\ipykernel_15304\1103946584.py:1: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  print(df.fillna(method="ffill"))

In [15]:
print(df.fillna(method="ffill",axis = 1))

     0    1    2
0  1.0  1.0  2.0
1  2.0  3.0  5.0
2  NaN  4.0  6.0

C:\Users\onvac\AppData\Local\Temp\ipykernel_15304\4050975924.py:1: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  print(df.fillna(method="ffill",axis = 1))

In [16]:
#propage value backwards
print(df.fillna(method="bfill"))

     0    1  2
0  1.0  3.0  2
1  2.0  3.0  5
2  NaN  4.0  6

C:\Users\onvac\AppData\Local\Temp\ipykernel_15304\3172874877.py:2: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  print(df.fillna(method="bfill"))

### Conditional data selection

In [21]:
filelang = "C:\\Users\\onvac\\OneDrive\\Desktop\\Python\\Training\\Udemy course\\MyTraining files\\ForAnaconda\\5_Data\\endangeredLang.csv"
df2 = pd.read_csv(filelang)

In [25]:
df2.head(n=6)

,ID,Name in English,Countries,Country codes alpha 3,Degree of endangerment,Number of speakers,Latitude,Longitude,Description of the location
0,1022,South Italian,Italy,ITA,Vulnerable,7500000.0,40.9798,15.2490,"Campania, Lucania (Basilicata), Abruzzi (Abruz..."
1,1023,Sicilian,Italy,ITA,Vulnerable,5000000.0,37.4399,14.5019,"Sicily (Sicilia), southern and central Calabri..."
2,383,Low Saxon,"Germany, Denmark, Netherlands, Poland, Russian...","DEU, DNK, NLD, POL, RUS",Vulnerable,4800000.0,53.4029,10.3601,"northern Germany, the north-eastern part of th..."
3,335,Belarusian,"Belarus, Latvia, Lithuania, Poland, Russian Fe...","BRB, LVA, LTU, POL, RUS, UKR",Vulnerable,4000000.0,53.9560,27.5756,Belarus except the Polesian-speaking south-wes...
4,382,Lombard,"Italy, Switzerland","ITA, CHE",Definitely endangered,3500000.0,45.7215,9.3273,the region of Lombardy (except the southernmos...
5,405,Romani,"Albania, Germany, Austria, Belarus, Bosnia and...","ALB, DEU, AUT, BRB, BIH, BGR, HRV, EST, FIN, F...",Definitely endangered,3500000.0,46.3165,22.3681,"many European countries, most densely in East-..."

In [27]:
df2[3:10]

,ID,Name in English,Countries,Country codes alpha 3,Degree of endangerment,Number of speakers,Latitude,Longitude,Description of the location
3,335,Belarusian,"Belarus, Latvia, Lithuania, Poland, Russian Fe...","BRB, LVA, LTU, POL, RUS, UKR",Vulnerable,4000000.0,53.9560,27.5756,Belarus except the Polesian-speaking south-wes...
4,382,Lombard,"Italy, Switzerland","ITA, CHE",Definitely endangered,3500000.0,45.7215,9.3273,the region of Lombardy (except the southernmos...
5,405,Romani,"Albania, Germany, Austria, Belarus, Bosnia and...","ALB, DEU, AUT, BRB, BIH, BGR, HRV, EST, FIN, F...",Definitely endangered,3500000.0,46.3165,22.3681,"many European countries, most densely in East-..."
6,2211,Yiddish (Israel),Israel,ISR,Definitely endangered,3000000.0,32.0833,34.8333,"most speakers now live outside Europe, mainly ..."
7,1586,Gondi,India,IND,Vulnerable,2713790.0,19.5804,80.4418,"Madhya Pradesh (Betul, Chhindwara, Seoni, Mand..."
8,1020,Limburgian-Ripuarian,"Germany, Belgium, Netherlands","DEU, BEL, NLD",Vulnerable,2600000.0,50.7781,6.0864,Limburg provinces in Belgium and the Netherlan...
9,1943,Quechua of Southern Bolivia,Bolivia (Plurinational State of),BOL,Vulnerable,2300000.0,-18.0675,-65.7641,"Departments of Cochabamba, Chuquisaca, Potosí ..."

In [32]:
df2[['Name in English','Countries']].tail(n=2)

     Name in English        Countries
2720       Zangskari  India, Pakistan
2721         Zidgali             Oman

In [35]:
df2[df2["Number of speakers"]<6000]

,ID,Name in English,Countries,Country codes alpha 3,Degree of endangerment,Number of speakers,Latitude,Longitude,Description of the location
675,432,Chantyal,Nepal,NPL,Definitely endangered,5912.0,28.4493,83.4054,Myāgdī district.
676,2341,Mortlockese,Micronesia (Federated States of),FSM,Definitely endangered,5904.0,5.5811,153.5668,Mortlock Islands
677,1767,Baníwa do Içana,"Brazil, Colombia, Venezuela (Bolivarian Republ...","BRA, COL, VEN",Vulnerable,5811.0,1.2743,-68.2910,NaN
678,285,"Akawaio (Guyana, Venezuela)","Guyana, Venezuela (Bolivarian Republic of)","GUY, VEN",Definitely endangered,5800.0,5.3753,-60.5126,"Mainly in the Mazaruni River Basin (Guyana), a..."
679,1039,Akhvakh,Russian Federation,RUS,Definitely endangered,5793.0,42.4720,46.3238,six villages in Akhvakh County and the village...
...,...,...,...,...,...,...,...,...,...
2534,131,|'Auni,South Africa,ZAF,Extinct,0.0,-26.0105,20.3630,NaN
2535,136,|Xam,South Africa,ZAF,Extinct,0.0,-32.2853,20.7590,NaN
2536,1443,ǁKu ǁ'e,South Africa,ZAF,Extinct,0.0,-29.9739,27.0812,Border area of Lesotho and South Africa
2537,1445,ǁKx'au,South Africa,ZAF,Extinct,0.0,-32.2896,21.7968,NaN
2538,130,ǁXegwi,South Africa,ZAF,Extinct,0.0,-25.3500,30.9900,"Lake Chrissie, Eastern Transvaal."

In [39]:
df2.drop(df2.index[:2],inplace = True)
df2

,ID,Name in English,Countries,Country codes alpha 3,Degree of endangerment,Number of speakers,Latitude,Longitude,Description of the location
4,382,Lombard,"Italy, Switzerland","ITA, CHE",Definitely endangered,3500000.0,45.7215,9.3273,the region of Lombardy (except the southernmos...
5,405,Romani,"Albania, Germany, Austria, Belarus, Bosnia and...","ALB, DEU, AUT, BRB, BIH, BGR, HRV, EST, FIN, F...",Definitely endangered,3500000.0,46.3165,22.3681,"many European countries, most densely in East-..."
6,2211,Yiddish (Israel),Israel,ISR,Definitely endangered,3000000.0,32.0833,34.8333,"most speakers now live outside Europe, mainly ..."
7,1586,Gondi,India,IND,Vulnerable,2713790.0,19.5804,80.4418,"Madhya Pradesh (Betul, Chhindwara, Seoni, Mand..."
8,1020,Limburgian-Ripuarian,"Germany, Belgium, Netherlands","DEU, BEL, NLD",Vulnerable,2600000.0,50.7781,6.0864,Limburg provinces in Belgium and the Netherlan...
...,...,...,...,...,...,...,...,...,...
2717,1972,Yonaguni,Japan,JPN,Severely endangered,NaN,24.4580,122.9802,Yonaguni Island
2718,2018,Yucuna,Colombia,COL,Definitely endangered,NaN,-1.2633,-70.6640,NaN
2719,2015,Yurutí (Colombia),Colombia,COL,Definitely endangered,NaN,1.1370,-70.2136,NaN
2720,2716,Zangskari,"India, Pakistan","IND, PAK",Definitely endangered,NaN,34.0833,76.8500,NaN
2721,2177,Zidgali,Oman,OMN,Critically endangered,NaN,23.4027,58.0957,Capital area of Muscat

In [41]:
df2.drop(["Latitude"],axis=1,inplace=True)
df2

,ID,Name in English,Countries,Country codes alpha 3,Degree of endangerment,Number of speakers,Longitude,Description of the location
4,382,Lombard,"Italy, Switzerland","ITA, CHE",Definitely endangered,3500000.0,9.3273,the region of Lombardy (except the southernmos...
5,405,Romani,"Albania, Germany, Austria, Belarus, Bosnia and...","ALB, DEU, AUT, BRB, BIH, BGR, HRV, EST, FIN, F...",Definitely endangered,3500000.0,22.3681,"many European countries, most densely in East-..."
6,2211,Yiddish (Israel),Israel,ISR,Definitely endangered,3000000.0,34.8333,"most speakers now live outside Europe, mainly ..."
7,1586,Gondi,India,IND,Vulnerable,2713790.0,80.4418,"Madhya Pradesh (Betul, Chhindwara, Seoni, Mand..."
8,1020,Limburgian-Ripuarian,"Germany, Belgium, Netherlands","DEU, BEL, NLD",Vulnerable,2600000.0,6.0864,Limburg provinces in Belgium and the Netherlan...
...,...,...,...,...,...,...,...,...
2717,1972,Yonaguni,Japan,JPN,Severely endangered,NaN,122.9802,Yonaguni Island
2718,2018,Yucuna,Colombia,COL,Definitely endangered,NaN,-70.6640,NaN
2719,2015,Yurutí (Colombia),Colombia,COL,Definitely endangered,NaN,-70.2136,NaN
2720,2716,Zangskari,"India, Pakistan","IND, PAK",Definitely endangered,NaN,76.8500,NaN
2721,2177,Zidgali,Oman,OMN,Critically endangered,NaN,58.0957,Capital area of Muscat